@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0f19; /* dark slate */
    --foreground: #e5e7eb; /* gray-200 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
